---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Roboto Condensed", Helvetica, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     32px;

$text-color:       #111;
$text-color-inverse: #eee;
$background-color: #fafafa;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$color-primary-0: #AF0B0B;	// Main Primary color */
$color-primary-1: #E34848;
$color-primary-2: #D41C1C;
$color-primary-3: #910000;
$color-primary-4: #6B0000;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


@import "color";
@import "mixins";
@import "variables";
@import "global";
@import "typography";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "buttons",
        "waves",
        "tags"
;
