---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$primary: #AF0B0B;

@import "mdl/material-design-lite";
@import "_syntax-highlighting";


body {
  background-color: #fafafa;
}

.content {
  max-width: 800px;
}

.comments {
  background-color: #eeeeee;
}

.post .mdl-card__supporting-text {
  width: auto;
  height: auto;
}

.post .mdl-card {
  width: auto;
}

.post img {
  max-width: 100%;
  margin-left: auto;
  display: block;
  margin-right: auto;
}

.page-content {
  flex: 1;
}

main {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.highlight {
  background: desaturate(lighten(#d46f1c, 50%), 15%);
  margin: 0px 0px 16px 0px;
  overflow: auto;
  border-radius: 2px;
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              inset 0 1px 1px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              inset 0 1px 5px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}

.icon svg {
  width: 16px;
  height: 16px;
}

.social-btn__github {
  background: transparent;
}
.social-btn__github svg {
  width: 24px;
  height: 24px;
}
