---
layout: default
---
<h2 class="header">Posts</h1>
<ul class="post-list" itemscope="" itemtype="http://schema.org/Blog">
  {% for post in paginator.posts %}
  <div class="card">
    <article itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting" class="card-content spaced-content">
      <meta itemprop="author publisher" content="{{post.author}}" />
      <meta itemprop="keywords" content="{{ post.tags | join: ',' }}" />
      <span class="card-title" itemprop="name headline">
        {{ post.title }}
      </span>
      <p>
      <span itemprop="datePublished dateModified" class="light">{{ post.date | date: "%b %-d, %Y" }}</span>
      </p>
      <div itemprop="description">{{ post.excerpt }}</div>
    </article>
    <div class="card-action">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" itemprop="mainEntityOfPage url">Read More</a>
    </div>
  </div>
  {% endfor %}
</ul>
<div class="wrapper">
  <!-- Pagination links -->
  <ul class="pagination">
    <li class="{% if paginator.previous_page %}waves-effec{% else %}disabled{% endif %}"><a href="{% if paginator.previous_page %}{{ paginator.previous_page_path }}{% else %}#{% endif %}">&lt;</a></li>
    {% for pageNum in (1..paginator.total_pages) %}
      <li class="{% if paginator.page == pageNum %}active{% else %}waves-effect{% endif %}"><a href="/{%if pageNum > 1%}page{{pageNum}}{% else %}{%endif%}">{{pageNum}}</a></li>
    {% endfor %}
    <li class="{% if paginator.next_page %}waves-effec{% else %}disabled{% endif %}"><a href="{% if paginator.next_page %}{{ paginator.next_page_path }}{% else %}#{% endif %}">&gt;</a></li>
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>