---
layout: default
---

<div class="home">
  <div class="wrapper">
    <h1 class="page-heading">Posts</h1>
  </div>
  <ul class="post-list" itemscope="" itemtype="http://schema.org/Blog">
    {% for post in paginator.posts %}
      <li class="card">
        <article itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
            <meta itemprop="author publisher" content="{{post.author}}" />
            <span itemprop="datePublished dateModified" class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2 itemprop="name headline">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" itemprop="mainEntityOfPage url">{{ post.title }}</a>
            </h2>
            <meta itemprop="keywords" content="{{ post.tags | join: ',' }}" />
            <div itemprop="description">{{ post.excerpt }}</div>
        </article>
    </li>
    {% endfor %}
  </ul>
  <div class="wrapper">
    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="waves-effect waves-light btn">Previous</a>
      {% else %}
        <span class="btn disabled">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="waves-effect waves-light btn">Next</a>
      {% else %}
        <span class="btn disabled">Next</span>
      {% endif %}
    </div>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>
</div>