<header>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a class="brand-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">{% for my_page in site.pages %}{% if my_page.title %}
          <li{% if my_page.url == page.url  %} class="active"{% endif %}><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>{% endif %}{% endfor %}
        </ul>
        <ul class="side-nav" id="mobile-demo">
        <li><a href="{{ site.baseurl }}/"><h4>{{ site.title }}</h4></a></li>
         <li class="divider"/>
         <li {% if page.url == "/" or page.url contains "page" %} class="active"{% endif %}><a href="{{ site.baseurl }}/">Home</a></li>{% 
          for my_page in site.pages %}{% if my_page.title %}
          <li{% if my_page.url == page.url  %} class="active"{% endif %}><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>{% endif %}{% endfor %}
         <li class="divider"/>
         <li><a class="subheader">Recent Articles</a></li>
         {% for my_page in site.posts limit:3 %}
           <li><a class="truncate" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
         {% endfor %} 
        </ul>
      </div>
    </div>
  </nav>
</header>