<div class="mdl-grid content" itemscope="" itemtype="http://schema.org/Blog">
  {% for post in paginator.posts %}
  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
  <article itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
    <meta itemprop="author publisher" content="{{post.author}}" />
    <div class="mdl-card__title mdl-color--primary">
      <h2 class="mdl-card__title-text mdl-color-text--primary-contrast">
        {{ post.title }}
      </h2>
    </div>

    <div class="mdl-card__supporting-text">
      <p>
        <span itemprop="datePublished dateModified" class="mdl-typography--caption">{{ post.date | date: "%b %-d, %Y" }}</span>
      </p>
      <meta itemprop="keywords" content="{{ post.tags | join: ',' }}" />
      <div itemprop="description" class="mdl-color-text--black">{{ post.excerpt }}</div>

    </div>
    <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"  href="{{ post.url | prepend: site.baseurl }}" itemprop="mainEntityOfPage url">
        Read More
      </a>
    </div>
  </article>
  </div>
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination mdl-grid">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="material-icons">navigate_before</i></a>
    {% else %}
    <button class="mdl-button mdl-js-button" disabled><i class="material-icons">navigate_before</i></button>
    {% endif %}
    {% for pageNum in (1..paginator.total_pages) %}
      {% if paginator.page == pageNum %}
        <button class="mdl-button mdl-js-button" disabled>{{pageNum}}</button>
      {% else %}
        <a href="/{%if pageNum > 1%}page{{pageNum}}{% else %}{%endif%}" class="mdl-button mdl-js-button mdl-js-ripple-effect">{{pageNum}}</a>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="material-icons">navigate_next</i></a>
    {% else %}
    <button class="mdl-button mdl-js-button" disabled><i class="material-icons">navigate_next</i></button>
    {% endif %}
  </div>

</div>
