
$primary-color: #AF0B0B;
$card-link-color: $primary-color;

body {
    background: #fafafa;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-wrapper {
    margin-top: 16px;
}

.card-panel {
    h1 {
        font-size: 200%;
    }
    h2 {
        font-size: 180%;
    }
    h3 {
        font-size: 160%;
    }
    h4 {
        font-size: 140%;
    }
}